:root{
    --main-color: #2eace5;
    --hover-btn: #79d2fc;
}
*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.6;
    margin: 0;
    color: #989aa4;
    background-color: #ececec;
}
h1{
    display: none;
}
h2, h3{
    font-weight: 600;
    margin: 5px 0;
    color: #282828;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
.container{
    max-width: 850px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.user-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 25px;
    background-color: #f8f8f8;
    margin: 20px 25px;
}
.user-card-top{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 35px 15px;
    border-radius: 25px 25px 0 0;
}
.user-card-top h2{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 29px;
}
.user-card-top-img{
    position: relative;
    text-align: center;
}
.user-card-top-img.active i{
    color: #fac207;
}
.user-card-top-img i{
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    color: #e6e4e9;
}
.user-card img{
   height: 100px;
   width: 100px;
   object-fit: cover;
   border-radius: 50%;
}
.user-card-top p {
    font-size: 15px;
    font-weight: 600;
}
.ara{
    display: flex;
}
.user-card-bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 0 0 25px 25px;
    padding: 20px 35px 20px;
    text-align: center;
    width: 100%;
}
.btn{
    border-radius: 10px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    text-decoration: none;
    width: 100%;
    max-width: 180px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 3px 0;
    padding: 9px 0;
    line-height: 1;
    transition: .3s;
}
.btn:hover{
    color: #fff;
    background-color: var(--hover-btn);
}
.bnt-blue{
    background-color: var(--main-color);
    color: #fff;
}
.location{
    font-weight: 600;
    margin-bottom: 10px;
}
.location i{
    margin-right: 7px;
}
.buttons-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
.user-status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-status i{
    margin-right: 6px;
    color: #8bc34b;
    font-size: 7px;
}